


        <div class="large-12 columns">
        <p id="notice"><%= notice %></p>
        <h1><%= @category.title %><small><%= link_to 'Back', categories_path %> </small></h1>
          <div class="row">
            <% @category.products.each do |product| %>
            <div class="large-4 small-6 columns">
              <img src="http://placehold.it/1000x1000&text=Thumbnail">

              <div class="panel">
                <h5><%= link_to product.title, product_path(product) %></h5>
                <h6 class="subheader">$<%= product.price %></h6>
              </div>
            </div>
            <% end %>

       
          </div>

    <!-- End Thumbnails -->


        </div>
